<ion-view view-title="Banco" name="login-view">
  <ion-content class="padding">
    <ul class="list">
        <li class="item" ng-repeat="obj in bancos">
          {{obj.nome}}
        </li>
    </ul>
    <div class="list item-inset">
      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="data.nome">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Codigo" ng-model="data.codigoBancoCentral">
      </label>
    </div>
    <button type="button" class="button button-block button-positive" ng-click="cadastrar(data)">Cadastrar</button>
  </ion-content>
</ion-view>
