<ion-view view-title="Acesso" name="login-view">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-image">
        <img src="img/logosolverp.jpg" alt="" />
        <!-- <h2>Acesso ao Sistema</h2>
        <p>
          Login e Senha
        </p> -->
      </div>
    </div>
    <div class="list item-inset">
      <label class="item item-input">
        <input type="text" placeholder="Usuário" ng-model="data.usuario">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Senha" ng-model="data.senha">
      </label>
    </div>
    <button type="button" class="button button-block button-positive" ng-click="acessar(data)">Login</button>
  </ion-content>
</ion-view>
